@media only screen and (max-width: 600px) {
  * {
		box-sizing: border-box;
	}

	body {
		background: #2f3640;
		font-family: 'Montserrat', sans-serif;
		flex-wrap: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 100vh;
		margin: 0px 0 50px;
	}
	.header-section{
		height: 250px;
	}
	.content-container{
		margin-left: 25px!important;
	}

	.logo-section{
		height: 50%;
	}
	.navbar-section{
		background: #8985A2;
		height: 50%;
		position: relative;
		padding-left: 25px;

	}

	ul.main-menu li {
		display: block;
		padding-left: 30px;
		font-size: 24px;
		color: black;
		font-weight: bold;
	}
	.body-section{
		height: auto;
		background-color: #2f3640;
    	color: white;
	}
	#advertisement-container{
		width: 350px;
	}
	.item-bodies{
		height: auto;
	}
	.image-border-radius{
		margin-top: 20px;
		width: 300px!important;
	}
	#product-display{
		margin-top: 125px;
	}
	.sorting-box{
		padding-left: 25px;
	}
	.ad-description-container{
		height: 1626px;
	}
	.ad-short-description{
		margin-top: 25px;
	}
	.comment-section{
		margin-top: 35px;
		width: 100%;
	}
	.seller-info{
		float: left;
		width: 100%;
		height: auto;
	}
	.ad-detail-container{
		float: left;
		width: 100%;
		height: auto;
	}
	.modify-display-ad-image{
		height: 100%;
		width: 100%;
	}
	.product-selling-form h1{
		font-size: 20px;
	}
	.product-selling-form label{
		font-size: 20px;
		margin-top: 20px;
		margin-bottom: 0px;
	}
	.form-text-box{
		width: 400px;
	}
	.product-description{
		width: 400px;
		height: 200px;
	}
	#adSubmit{
		width: 200px;
	}
	.msg-selectContainer{
		height: 200px;
		width: 400px;
		margin-left: -80px;
	}
	#msgType{
		width: 300px;
	}
	.main-userMsgContainer{
		width: 350px;
	}
	.userMsgAdBox{
		width: 300px;
	}
	.ad-images-container{
		width: 400px;
		margin-left: -80px;
	}
	.msgText-conatiner{
		margin-top: 30px;
	}
	.mdf-adImgMsg{
		height: 100%;
		width: 100%;
	}
	.retrievedMsg{
		width: 400px;
		margin-left: -79px;
	}
	.seller-profile-body{
		width: 400px;
	}
	.user-profile-container{

	}
	.user-details-container{
		width: 400px;
	}
	.seller-review-container{
		width: 600px;
	}
}

@media only screen and (max-width: 768px) {
  * {
		box-sizing: border-box;
	}

	body {
		background: #2f3640;
		font-family: 'Montserrat', sans-serif;
		flex-wrap: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 100vh;
		margin: 0px 0 50px;
	}
	.header-section{
		height: 140px;
	}
	.content-container{
		margin-left: 100px;
		margin-right: 100px;
	}

	.logo-section{
		height: 30%;
		margin-left: 25%;
		height: 40px;
	}
	.navbar-section{
		background: #8985A2;
		height: 60%;
		position: relative;
		padding-left: 25px;
	}

	ul.main-menu li {
		display: inline-block;
		padding-left: 30px;
		font-size: 20px;
		color: black;
		font-weight: bold;
	}
	.item-bodies{
		height: auto;
	}
	.mobile-box, .bike-box, .scooter-box, .cars-box{
		width: 350px;
		height: 400px;
	}
	.image-border-radius{
		width: 350px;
	}
	.sorting-box{
		padding-left: 30%;
	}
	#advertisement-container{	
	}
	.ad-box{
		width: 310px;
		display: inline-block;
		margin-right: 0px;
		margin-left: 18px;
	}
	.product-selling-form h1{
		font-size: 22px;
	}
	.product-selling-form label{
		font-size: 18px;
		margin-top: 20px;
		margin-bottom: 0px;
	}
	.form-text-box{
		width: 600px;
	}
	.msg-selectContainer{
		height: 150px;
	}
	.userMsgAdBox{
		margin-right: 20px;
		margin-left: 55px;
	}
	.ad-images-container{
		margin-top: 25px;
		height: 400px;
		width: 460px;
	}
	.mdf-adImgMsg{
		height: 100%;
		width: 100%;
	}
	.ad-description-container{
		height: 1600px;
		padding-left: 20%;
	}
	.modify-display-ad-image{
		height: 100%;
		width: 100%;
	}
	.ad-short-description{
		margin-top: 25px;
		margin-right: 137px;
	}
	.comment-section{
		margin-top: 20px;
		width: 460px;
	}
	.seller-info{
		float: left;
		width: 460px;
		margin-right: 137px;
		margin-top: 20px;
	}
	.ad-detail-container{
		width: 460px;
		margin-right: 137px;
		margin-top: 20px;
	}
	.seller-review-container{
		width: 700px;
	}
}
