
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

body {
	background: #2f3640;
	font-family: 'Montserrat', sans-serif;
	flex-wrap: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	margin: 0px 0 50px;

}



h1 {
	font-weight: bold;
	margin: 0;
	color: white;

}

h2 {
	text-align: center;
	color: white;

}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
	color: white;

}

span {
	font-size: 12px;
	color: white;

}

a {
	color: white;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	border: 1px solid #925FB8;
	background-color: #7E6D91;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
	background-color: #2f3640;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
	background-color: #925FB8;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25),
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 700px;
	top: 70px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}

	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #FF416C;
	background: #7A8083;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}
.header-section{
	height: 100px;
	background: #8985A2;
}
.logo-section{
	height: 100%;
}
.navbar-section{
	background: #8985A2;
	height: 100%;
	float: left;
	position: relative;
	padding-top: 30px;
}

ul.main-menu li {
	display: inline-block;
	padding-left: 60px;
	font-size: 30px;
	border-radius: 5px;
	color: black;
	font-weight: bold;
}
.main-menu li:hover{
	color: white;
}

.body-section{
	height: 840px;
	background-color: #2f3640;
	color: white;

}
.search-box{
	height: 40px;
	top: 30%;
	left: 50%;
	background-color: black;
	position: absolute;
	transform: translate(-50%, -50%);
	background: #2f3640;
	height: 40px;
	border-radius: 40px;
	padding: 10px;

}
.search-btn{
	color: #e84118;
	width: 40px;
	border-radius: 10%;
	background:#2f3640;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.4s;
	float: right;
}
.modify-search-icon{
	font-size: 25px;
}
.search-box:hover > .search-txt{
	width: 350px;
	padding: 0 6px;
}

.search-txt{
	border:none;
	background:#2f3640;
	outline-style: ridge;
	float: left;
	padding: 0;
	color: white;
	font-size: 16px;
	transition: 0.4s;
	line-height: 20px;
	width: 0px;
	height: 35px;
}
.item-bodies{
	height: 450px;
	margin-top: 340px;

}
.item-bodies h1{
	font-weight: bold;
}
.faq-lists{
	height: 350px;
	width: 200px;

}
.faq-lists button{
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	display: block;
	margin-top: 100px;
}
.faq-display{
	height: 400px;
	width: 1200px;
	margin-left: 700px;
	margin-top: -325px;
	line-height: 40px;
	border-radius: 20px;
	color: white;

}
.faq-display p{
	font-size: 25px;
	line-height: 35px;

}
#how-to-buy-text, #how-to-sell-text, #safety-tips-text{
	display: none;
}

.selling-items-container{
	height: 1500px;
}
.selling-item-lists{
	height: 500px;
	width: 40%;
	margin-top: 80px;

}
ul.item-menu label {
	display: block;
	font-size: 35px;
	margin-left: 290px;
	border-radius: 5px;
	color: #7A8083;
	font-weight: bold;
	margin-top: 30px;
}
.item-menu label:hover{
	color: white;
}

.selling-item-forms{
	height: auto;
	width: 55%;
	margin-top: 80px;
	padding-left: 50px;
	color: #eee;
	background-color: #2f3640;
	border-radius: 10px;
	margin-left: 22%;

}

.product-selling-form label{
	font-size: 25px;
}
.form-text-box{
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 80%	;
	font-weight: bold;
	font-size: 17px;
	color: black;
	border-radius: 10px;

}
.product-description{
	border-radius: 10px;
	font-weight: bold;
	font-size: 19px;
	color:black;
}
textarea {
   resize: none;
   background-color: #eee;
}
.items-photo-table{

}
/*.items-photo-table tr{
	height: 100px;

}
.items-photo-table td{
	width: 100px;
	background-color: red;
}*/
.fa-camera{
	margin-top: 50px;
	font-size: 55px;
}
.photo-container{
	vertical-align: middle;
	align-content: center;
	height: 150px;
	width: 150px;
	margin-right: 20px;
	background-color: #7A8083;
	margin-top: 20px;
	border-radius: 10px;
	padding: 5px;
}
#four-images-container{
	display: none;
}
.product-photo-input{
	visibility: collapse !important;
}
#adSubmit{
	border-radius: 10px;
	border: 1px solid #925FB8;
	background-color: #7E6D91;
	margin-top: 40px;
	color: white;
	font-size: 18px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
}


/*Ad Ddescription Page*/
.content-container{

    margin-right: 100px;
    margin-left: 100px;

}
.ad-description-container{
	background-color: #7a8083;
	height: auto;
	width: 100%;
	padding-top: 80px;
	padding-left: 50px;
}
.ad-images-container{
	height: 400px;
	text-align: center;
    display: block;
    border-color: black;
    border-radius: 7px;
    border-style: solid;
    padding: 10px;
}
.ad-short-description{
	height: auto;
	align-self: right;
    border-color: black;
    border-radius: 7px;
    border-style: solid;
    padding: 10px;
}
.msgTextBox{
	width: 100%;
	padding: 10px;
	border-radius: 8px;
}
.ad-detail-container{
	height: 230px;
	margin-top: 50px;
    border-radius: 7px;
    border-color: black;
    border-radius: 7px;
    border-style: solid;
}
.msg-textareaContainer{
	background-color: #75c170;
	height: auto;
	width: 100%;
	padding: 10px;
	margin-top: 20px;
    border-radius: 7px;
}

.comment-section{
	margin-top: 100px;
	height: auto;
    border-color: black;
    border-radius: 7px;
    border-style: solid;
    padding-bottom: 30px;
    margin-right: 100px;
}

.image-btn{
	color: black;
	height:35px;
	width: 145px;
}

/*Product Display Css goes here*/
#product-display{
	height: auto;
	width: 100%;
}
.sorting-box{
	height: auto;
	background-color: blue;
	padding-left: 45%;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-bottom: 25px;
}
.ad-container{
	height: 1000px;
	padding: 150px;
	background-color: pink;
}

.ad-box{
	height: 450px;
	background-color: black;
	margin-right: 60px;
	margin-top: 25px;
}
.ad-image-holder{
	height: 200px;
	padding-top: 20px;
}
.modify-ad-image{
	height: 200px;
	width: 100%;
	border-radius: 20px;
}
.ad-price, .ad-title{
	color: white;
	padding-top: 15px;
}
.ad-description{
	color: white;
}
#advertisement-container{
	background-color: pink;
	height: auto;
}
.ad-display-sorting{
	color: black;
}
.image-border-radius{
	border-radius: 20px;
}
/*Product Display Css end here*/

.modify-display-ad-image{
	height: 100%;
	width: auto;
	border-radius: 8px;
}
.ad-detail-container{
	padding-left: 29px;
}
.seller-info{
	height: auto;
	align-self: right;
	margin-top: 50px;
    border-color: black;
    border-radius: 7px;
    border-style: solid;
		margin-bottom: 800px;
}
#issueConfirmBtn{
	width: 300px;
	height: 35px;
	border-radius: 8px;
}

.ad-detail-container label{
	font-size: 18px;
}
.ad-description-values{
	color: black;
	font-size: 18px;
}
.retrieve-comment{
	height: auto;
	width: 100%;
	color: white;
}
#comment-text-box{
	width: 100%;
	border-radius: 8px;
}
.commenter-name-mdf{
	color: #78f704;
}
.modify-btn{
	width: 250px;
	border-radius: 8px;
	background-color: #4d9494;
	margin-top: 15px;
}
.cmt-reply-btn{
	width: auto;
	border-radius: 8px;
	height: auto;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: #4d9494;

}
.reply-section{
	height: auto;
	margin-left: 50px;
	background-color: pink;
	padding: 10px;
	border-radius: 8px;
}
.main-comment{
	margin-bottom: 10px;
}
.reply-mdf{
	width: 100%;
	border-radius: 8px;
	color: black;
}
.show-reply-comments{
	height: auto;
	margin-left: 50px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-radius: 8px;
}

.upload-image-display{
	height: 100%;
	width: auto;
	max-width: 100%;
	border-radius: 10px;
}
.seller-profile-body{
	height: auto;
	width:600px;
	margin-top: 50px!important;
	 margin:  auto;

}
.user-profile-container{
	height: 300px;
	width: 300px;
	border-radius: 50%;
	background-color: pink;
	margin-top: 50px;
	margin:  auto;
}
.mdf-user-icon{
	height: 100%;
	width: 100%;
	border-radius: 50%;
}
.user-details-container{
	font-size: 25px;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 50px;
	margin:  auto;
	text-align: center;
	border-radius: 8px;
	border-style: solid;
	padding: 15px;
}
.seller-review-container{
	margin-top: 50px !important;
	margin: auto;
	height: auto;
	width: 50%;
}
.mainMsgContainer{
	margin: auto;
	height: auto;
	width: 60%;
}
.userMsgAdBox{
	height: auto;
    background-color: black;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 25px;
    width: 25%;
    display: inline-block;
    padding: 15px;
}
.msg-selectContainer{
	height: 100px;
	width: 100%;
	margin-top: 10px;
	background-color: #7a8083;
	border-radius: 8px;
	padding:40px;
	font-size: 25px;

}
.main-userMsgContainer{
	height: auto;
	background-color: #7a8083;
	margin-top: 10px;
	border-radius: 8px;
}
.msgText-conatiner{
	height: auto;
	width: 100%;
	margin: 0 auto;
	border-radius: 8px;
}
.buyerMsgText h2{
	text-align: left!important;
}
.buyerMsgText span{
	font-size: 18px;
}
.buyer-name{
	font-size: 21px;
}
.retrievedMsg{
	font-size: 20px;
	color: white;
	border-radius: 8px;
	border-style: solid;
	border-color: black;
	margin-top: 20px;
	padding: 15px;
}
.orderAcceptedDiv{
	background-color: #1d692e;
}

.mdf-adImgMsg{
	height: 100%;
	width: auto;
}
.cancelOrderBtn{
	background-color: red;
}
.orderAcceptedNotice{
	color: white;
	font-weight: bold;
}
.orderAcceptedBtn{
	background-color: green;
	margin-top: 15px;
}

.sellerRatingContainer{
	height: auto;
	background-color: #8a8736;
	width: 100%;
	padding: 25px;
	margin-top: 30px;
	border-radius: 8px;
}
#dealClosedRadio{
	width: 25px;
}
.sellerRating{
	height: auto;
	width: 100%;
}
#sellerReviewTextBox{
	width: 70%;
	border-radius: 8px;
}
.sellerPageAdImgContainer{
	height: 235px;
	width: 300px;
	display: inline-block;
	text-align: center;
	border-radius: 8px;
	background-color: black;
}
.sellerPageAdImg{
	height: 100%;
	width: auto;
	max-width: 100%;
	border-radius: 8px;
}

.seller-review-container td{
	font-size: 18px;
	padding-right: 30px;
	padding-bottom: 30px;
	padding-top: 30px;
}
.sellerReviewBox{
	height: 100%;
	width: auto;
	border-radius: 8px;
}
.seller-review-container tr{
  border-bottom: 1px solid white;
  border-top: 1px solid white;

}
.savedAd-box{
	height: auto;
	background-color: black;
	margin-right: 60px;
	margin-top: 25px;
}
